/* For mobile phones: */
@media screen and (max-width: 600px) {
  body {
    width: 100%;
  }
  .hero {
    width: 100%;
    text-align: center;
  }
  .row {
    width: 100%;
    text-align: left;
  }
  textarea {
    width: 80%;
  }
  select {
    width: 30%;
  }
}
